body {
    font-family: "Malgun Gothic", sans-serif;

    margin: 30px;
}
.header {
    display: flex;
    align-items: center;
    gap: 30px;

    margin-bottom: 30px;
}

#header-character {
    width: 150px;
    height: auto;
    margin-top: -10px;
}

.header-text {
    display: flex;
    flex-direction: column;
}

.header-title-small {
    font-size: 24px;
}

.header-title {
    font-size: 38px;
    font-weight: bold;
}

.header-subtitle {
    margin-top: 6px;
    color: gray;
    font-size: 15px;
}

.header-version {
    margin-top: 10px;
    color: gray;
    font-size: 14px;
}
.price-card {

    background: #f7f7f7;

    border: 1px solid #dddddd;

    border-radius: 12px;

    padding: 18px 25px;

    max-width: 850px;

    margin: 20px auto 25px auto;

    text-align: center;
}

.price-title {

    font-size: 18px;

    color: #666;

    margin-bottom: 10px;

}

.price-value {

    font-size: 36px;

    font-weight: bold;

    color: #222;

}

.price-status {

    margin-top: 8px;

    font-size: 18px;

    line-height: 1.6;

}
.info-card {

    background: #fafafa;

    border: 1px solid #dddddd;

    border-radius: 12px;

    padding: 20px;

    max-width: 850px;

    margin: 0 auto 25px auto;

}

.info-row {

    display: flex;

    justify-content: space-between;

    align-items: center;

    padding: 12px 0;

}

.info-row:not(:last-child) {

    border-bottom: 1px solid #eeeeee;

}
.button-area {

    max-width:850px;

    margin:0 auto 30px auto;

}

#enable-sound {

    background: #4caf50;

    color: white;

    border: none;

    border-radius: 8px;

    padding: 12px 20px;

    font-size: 16px;

    cursor: pointer;

    transition: 0.2s;

}

#enable-sound:hover {

    background: #43a047;

}
.history-card {

    background: #fafafa;

    border: 1px solid #dddddd;

    border-radius: 12px;

    padding: 20px;

    max-width: 850px;

    margin: 0 auto 30px auto;

}

.history-title {

    font-size: 20px;

    font-weight: bold;

    margin-bottom: 15px;

}

#price-history {

    max-height: 350px;

    overflow-y: auto;

}
.history-item {

    padding: 15px 0;

}

.history-item:not(:last-child) {

    border-bottom: 1px solid #eeeeee;

}

.history-price {

    font-size: 18px;

    font-weight: bold;

}

.history-time {

    margin-top: 6px;

    color: #777;

    font-size: 14px;

}
.today-range {

    margin-top: 18px;

    padding-top: 15px;

    border-top: 1px solid #dddddd;

    font-size:18px;
    line-height:1.8;

    color: #555;

}
.today-title{
    font-size:20px;
    font-weight:bold;
    margin-bottom:10px;
}